@import "../main.css";
@import "./scrollbar.css";

@layer components {
  .floating-panel [data-scope="floating-panel"][data-part="trigger"] {
    @apply ui-trigger;
  }

  .floating-panel
    [data-scope="floating-panel"][data-part="trigger"][data-state="open"]
    [data-closed] {
    display: none;
  }

  .floating-panel
    [data-scope="floating-panel"][data-part="trigger"][data-state="closed"]
    [data-open] {
    display: none;
  }

  .floating-panel [data-part="title"] {
    @apply ui-label;
  }

  .floating-panel [data-scope="floating-panel"][data-part="positioner"] {
    z-index: 50;
  }

  .floating-panel
    [data-scope="floating-panel"][data-part="positioner"]:has(
      [data-scope="floating-panel"][data-part="content"][data-state="closed"]
    ) {
    display: none;
  }

  .floating-panel
    [data-scope="floating-panel"][data-part="positioner"]:has(
      [data-scope="floating-panel"][data-part="content"][data-topmost]
    ) {
    z-index: 999999;
  }

  .floating-panel [data-scope="floating-panel"][data-part="content"] {
    display: flex;
    flex-direction: column;
    z-index: var(--z-index);
    position: relative;
    
    box-shadow: var(--shadow-ui);

    &[data-topmost] {
      z-index: 999999;
    }

    &[data-behind] {
      opacity: 0.8;
    }

    &:focus-visible {
      outline: none;
      box-shadow: inset 0 0 0 2px var(--color-ink);
      border-radius: var(--radius-md);
    }

    &[data-minimized] {
      height: auto !important;
      overflow: visible !important;
    }

    &[data-minimized] [data-scope="floating-panel"][data-part="drag-trigger"] {
      border-radius: var(--radius-md);
    }
  }

  .floating-panel [data-scope="floating-panel"][data-part="stage-trigger"],
  .floating-panel [data-scope="floating-panel"][data-part="close-trigger"] {
    @apply ui-trigger ui-trigger--square ui-trigger--sm;
  }

  [data-scope="floating-panel"][data-part="body"] {
    @apply scrollbar scrollbar--sm;

    position: relative;
    overflow: auto;
    flex: 1 1 auto;
    min-height: fit-content;
    height: var(--height);
    padding: --spacing(4);
    background-color: var(--color-root);
    border-radius: 0 0 var(--radius-md) var(--radius-md);
    border: 1px solid var(--color-border);
    border-block-start: 0;

    & p {
      margin-block: 0;
    }
  }

  [data-scope="floating-panel"][data-part="header"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-block: --spacing(1);
    padding-inline: var(--spacing-space);
    gap: var(--spacing-space);
  }

  [data-scope="floating-panel"][data-part="drag-trigger"] {
    background-color: var(--color-layer);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md) var(--radius-md) 0 0;

    &:focus-visible {
      outline: none;
    }
  }

  [data-scope="floating-panel"][data-part="control"] {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--spacing-space);
  }

  [data-scope="floating-panel"][data-part="resize-trigger"] {
    &[data-axis="n"],
    &[data-axis="s"] {
      height: 6px;
      max-width: 90%;
    }

    &[data-axis="e"],
    &[data-axis="w"] {
      width: 6px;
      max-height: 90%;
    }

    &[data-axis="ne"],
    &[data-axis="nw"],
    &[data-axis="se"],
    &[data-axis="sw"] {
      width: 10px;
      height: 10px;
    }
  }

  .floating-panel:not([data-resizable])
    [data-scope="floating-panel"][data-part="resize-trigger"],
  .floating-panel
    [data-scope="floating-panel"][data-part="resize-trigger"][data-disabled] {
    display: none;
  }

  .floating-panel:not([data-draggable])
    [data-scope="floating-panel"][data-part="drag-trigger"],
  .floating-panel
    [data-scope="floating-panel"][data-part="drag-trigger"][data-disabled] {
    cursor: default !important;
    touch-action: auto !important;
    -webkit-user-select: auto !important;
    user-select: auto !important;
  }
}
